@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.react,.PWA,.lite-server,.apollo {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover,.PWA:hover,.lite-server:hover,.apollo:hover {
  background: rgba(97, 218, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.node:hover {
  background: rgba(131, 205, 41, 0.25);
}
.javascript,.indexedDB, .react-dom {
  border: 0.1rem solid rgb(131, 205, 41);
}
.javascript:hover,.indexedDB:hover, .react-dom:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongoDB {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongoDB:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux,.mongoose,.JWT, .react-flip-move {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover,.mongoose:hover,.JWT:hover, .react-flip-move:hover {
  background: rgba(118, 74, 188, 0.25);
}

.express, .tailwind-scrollbar-hide {
  border: 0.1rem solid rgb(82, 143, 240);
}
.express:hover, .tailwind-scrollbar-hide:hover {
  background: rgba(82, 143, 240, 0.25);
}

.bootstrap {
  border: 0.1rem solid rgb(25, 118, 210);
}
.bootstrap:hover {
  background: rgba(25, 118, 210, 0.25);
}

.bcrypt,.api {
  border: 0.1rem solid rgb(0, 209, 178);
}
.bcrypt:hover,.api:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(0, 112, 243);
}
.next:hover {
  background: rgba(0, 112, 243, 0.25);
}

.tailwind, .heroicons {
  border: 2px solid rgb(6, 182, 212);
}
.tailwind:hover, .heroicons:hover {
  background: rgba(6, 182, 212, 0.25);
}

.connect-session-sequelize,.graphql,.compression {
  border: 1px solid rgb(255, 100, 116);
}
.connect-session-sequelize:hover,.graphql:hover,.compression:hover {
  background: rgba(255, 65, 84, 0.25);
}

.handlebars,.mysql2 {
  border: 1px solid rgb(21, 114, 182);
}
.handlebars:hover,.mysql2:hover {
  background: rgba(21, 114, 182, 0.25);
}

.morgan,.dotenv,.sequelize {
  border: 1px solid rgb(163, 182, 21);
}
.morgan:hover,.dotenv:hover,.sequelize:hover {
  background: rgba(178, 229, 27, 0.25);
}
